/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    singleron-RD/scrna Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // barcode
    chemistry               = "auto"
    pattern                 = ''
    whitelist               = ''
    linker                  = ''
    lowQual                 = 0
    lowNum                  = 2
    nopolyT                 = ''
    noLinker                = ''
    filterNoPolyT           = ''
    allowNoLinker           = ''       
    output_R1               = ''

    // cutadapt
    minimum_length           = 20
    nextseq_trim             = 20
    overlap                  = 10
}